<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>WEB SAYT</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="top-blue-line"></div>
  <div class="top-gray-line"></div>
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEvk2nEFXVYBWz9foFrN1wiuUeJ5FlKqTHaw&s" alt="AƏSMA Logo" />
      </div>
    </div>
    <div class="center">
      <h1>Azərbaycan Əmək və <br>Sosial Münasibətlər<br>Akademiyası</h1>
      <img src="https://www.ahik.org/storage/pages/1/whatsapp-image-2025-08-26-at-180001-1.jpg" alt="foto" />
      <div class="text-and-degrees">
        <p>
          Azərbaycan Əmək və Sosial Münasibətlər Akademiyası <br>2006‑cı ildə yaradılmışdır və müstəqil ali təhsil müəssisəsi kimi fəaliyyət göstərir.<br>
          Bu gün AƏSMA müasir əmək bazarının tələblərinə uyğun yüksəkixtisaslı <br>kadrların hazırlanmasını həyata keçirir.Həmçinin akademiyada son illerde <br>
          tələbələrin ixtisaslaşmış kadr kimi formalaşması <br>məqsədilə müxtəlif təlim kursları, könüllülük layihələri və digər innovativ <br>
          təşəbbüslər həyata keçirilərək onların peşəkar bacarıqları və<br> sosial aktivliyi artırılır.<br>
          Akademiyada iki fakültə – “Maliyyə-İqtisad” və “Sosial iş” fakültələri fəaliyyət göstərir.<br>
          Akademiyada bir kitabxana, iki akt zalı və bir inkişaf mərkəzi mövcuddur. Hər bir xüsusi gün xüsusi diqqət mərkəzində saxlanılaraq, həmin günlərin əhəmiyyətinə uyğun tədbirlər sistemli şəkildə təşkil olunur.
        </p>
        <div class="degree-section">
          <div class="degree-box">
            <h2>Bakalavriat səviyyəsində ixtisaslar:</h2>
            <ul>
              <li>Sosial iş</li>
              <li>Marketinq</li>
              <li>Dövlət və bələdiyyə idarəetməsi</li>
              <li>Maliyyə</li>
              <li>Mühasibat</li>
              <li>İqtisadiyyat</li>
            </ul>
            <div class="small-bg"></div>
          </div>
          <div class="degree-box">
            <h2>Magistratura səviyyəsində ixtisaslar:</h2>
            <ul>
              <li>Maliyyə</li>
              <li>Mühasibat uçotu və audit</li>
              <li>İqtisadiyyat</li>
              <li>Marketinq</li>
              <li>Sosial iş</li>
            </ul>
            <div class="small-bg"></div>
          </div>
        </div>
      </div>
      <h2>Böyük Akt Zalı</h2>
      <div class="act-hall-section">
        <img src="https://api.aesma.edu.az/dist/images/posts/0cfad814-bc6d-4372-8a30-b88a56080fa1.jpg" alt="Böyük Akt Zalı Şəkli" />
        <p>
          Azərbaycanda Teatr Memarlığı- XIX əsrin birinci yarısının sonlarında tamaşa binaları artıq Azərbaycan şəhərlərinin srukturuna daxil idi.
          Peşəkar teatr deyəndə və onun fəaliyyəti barədə düşünəndə sözsüz ki, ilk növbədə sənət ocağının yerləşdiyi bina barədə fikirlər oyanır.
          Elm sübut edib ki, teatr tamaşasının təlqin etdiyi bədii-estetik zövqün kökündə tamaşa oynanılan binanın texniki imkanları və texnologiyası da mühüm yer tutur.
          Teatr binasının arxitektura özəllikləri müxtəlif şəkillərdə səhnə sənətinin gözəllik estetikasını istiqamətləndirir, onun özünəməxsusluğunun bədii səciyyələrini müəyyənləşdirir.
        </p>
      </div>
      <h2>Kiçik Akt Zalı</h2>
      <div class="act-hall-section reverse">
        <p>
          Ekoloji tərbiyə ətraf mühitin dərk olunması və təbiətə qayğı ilə yanaşmanın formalaşması proseslərindən keçir.
          Ekoloji cəhətdən savadlı insan dərk etməlidir ki, təbiət də onun özü kimi canlıdır.
          Təbiət güclüdür, ancaq bu güc tükənməz deyil.
          Təhsil ocaqlarında ekoloji təhsilin gücləndirilməsinin tərəfdarları hesab edirlər ki,
          uşağa kiçik yaşlarından təbiətə qayğı ilə yanaşmanı aşılamaqla biz onun şəxsiyyətinin formalaşmasına ciddi təkan vermiş oluruq.
          Başqa sözlə, yeni nəsildə vətəndaş şüurunun formalaşdırılmasının əsas istiqamətlərindən biri də məhz ekoloji təhsil və tərbiyə olmalıdır.
          Bu yolla gəncləri doğma torpağı və təbiəti sevməyə, ətraf mühitə biganəlikdən qaçmağa öyrədə bilərik.
        </p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsxxCDkjDQApaNQm--r8Pd_b3GZvRr3P29E0OfN2aHKJaZprShsxT9x-Md2491qb510YA&usqp=CAU" alt="Kiçik Akt Zalı Şəkli" />
      </div>
      <div class="footer-hours">
        <h3>Akademiyanın iş saatları</h3>
        <img src="https://cdn-icons-png.flaticon.com/512/747/747310.png" alt="Saat ikonu" class="clock-icon" />
        <ul>
          <li><strong>Bazar ertəsi - Cümə:</strong> 09:00 – 18:00</li>
          <li><strong>Şənbə-Bazar:</strong> Bağlıdır</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
